---
---

@font-face {
  font-family: "NanumSquareNeo";
  src: url("/assets/fonts/NanumSquareNeoR.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

body {
  font-family: "Coming Soon", "NanumSquareNeo", sans-serif;
}

.heading-number {
  display: inline-block;
  width: 3em;        // 고정 폭으로 맞춰도 되고
  text-align: right;
  margin-right: 0.5em;
  opacity: 0.6;
}

/* 사이드바 내 li 요소 중 첫 번째를 제외한 나머지는 모두 숨기기 */
.nav_order li:nth-child(n+3) {
  display: none;
}
